* {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 30px;
    height: 500px;
 }

.img-1 {
    position: relative;
    z-index: 1;
    top: 50px;
    left: 50px;
 }

.img-2 {
    position: relative;
    z-index: 2;
    bottom: 350px;
    left: 150px;
}

.img-3 {
    position: relative;
    z-index: 3;
    bottom: 750px;
    left: 250px;
}

h1 {
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    z-index: 1; 
    position: absolute;
    left: 10px;
    top: 10px;
    
}
.text1 {
    background-color: rgb(221, 16, 136);
}
.text2 {
    background-color: rgb(173, 173, 173);
}

.text3 {
    background-color:rgb(80, 159, 224);
}